*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --primary: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    --secondary: #4EC5F7;
    --mix: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}

.text-mix-color{
    background: var(--mix); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn{
    border:none;
    padding: 10px 25px;
    border-radius: 48px;
    background-color: transparent;
    color:white;
}

nav{
    display: flex;
    justify-content: space-around;
    padding:20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

nav>div>span{
    margin: 0 15px;
}

main>div>div{
    margin: auto;
    /* max-width: 1200px; */
}

/* banner */
.banner-container>div{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}

.banner-1>div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:150px 0px;
    background: url('/images/Group_14.png');
    margin:0 100px 0 0;
    background-repeat: no-repeat;
    background-size: contain
;}
.banner-1>div{
    width: 100%;
}

.banner-2-text{
    text-align: right; 
    padding:0 100px 0;
}
.banner-2{
    background:linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}


/* online games */
.online-games-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card .onhover{
    display: none;
}
.card img:hover + .onhover{
    border-radius: 10px;
    border:2px solid red;
    position: absolute;
    height: 74%;
    width: 80%;
    top:0;
    background-color: #00000079;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
}

.online-games-card-container>div{

}



/* play instant */
.ads-container>div{
    display: flex;
    width: 80%;
}
.ads-text{
    width: 60%;
    margin:50px 0;
}

/* game data  */
.gamedata-container{
    display: flex;
    justify-content: center;
}
.gamedata{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 50px;
    align-items: center;
    justify-content: center;
}
.gamedata-items{
    border:1px solid #d3d3d3;
    display: flex; 
    align-items: center; 
    justify-content: center;
    border-radius:46px;
    padding: 0 10px 0 0;
    margin:0px auto;
}
.gamedata-items:hover{
    border-color: red;
    color:red;
}

/* banner */

@media only screen and (max-width: 768px) {
    /* nav  */
    nav{
        flex-direction: column;
    }
    nav>div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav>div>span{
        margin: 10px 0;
    }

    /* banner */
    .banner-container>div:first-child{
        flex-direction: column-reverse;
    }
    .banner-container>div:nth-child(2) {
        flex-direction: column;
    }
    .banner-2 img{
        width: 100%;
    }
    .banner-2{
        background: transparent;
    }

    .banner-1>div:first-child{
        margin:0;
    }
    .banner-2-text{
        text-align:center;
        padding: 0 100px;
    }

    .online-games-card-container{
        flex-direction: column;
    }

    .ads-play-2{
        flex-direction: column-reverse;
    } 
    .ads-play-1{
        flex-direction: column;
    }
    .ads-text{
        text-align: center;
        width:80%;
    }
  

}
